@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&display=swap");
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
}

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a,
a img {
  transition: 0.3s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:hover img {
  opacity: 0.80;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

img {
  max-width: 100%;
}

.sp-only {
  display: none;
}

@media only screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Layout .l-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/* Header
------------------------------------------------------------*/
.l-header {
  height: 152px;
}

@media only screen and (max-width: 1024px) {
  .l-header {
    height: calc((100vw / 1024) * 150);
  }
}

@media only screen and (max-width: 767px) {
  .l-header {
    height: 94px;
    position: relative;
  }
}

.c-header {
  z-index: 100;
  will-change: transform;
  transition: transform 0.3s, background-color 0.3s;
}

.c-header__logo {
  width: 190px;
}

@media only screen and (max-width: 1024px) {
  .c-header__logo {
    width: calc((100vw / 1024) * 190);
  }
}

@media only screen and (max-width: 767px) {
  .c-header__logo {
    width: 130px;
  }
}

.c-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .c-header__inner {
    position: relative;
  }
}

.c-header__contact {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .c-header__contact {
    display: none;
  }
}

.c-header__search {
  margin-left: 20px;
}

.c-header__search form {
  width: 220px;
  border: 1px solid #333;
  position: relative;
}

@media only screen and (max-width: 1024px) {
  .c-header__search form {
    width: calc((100vw / 1024) * 220);
  }
}

.c-header__search form dl {
  display: flex;
  align-items: center;
}

.c-header__search form dl input {
  height: 35px;
  width: 100%;
  font-size: 1.4rem;
  border: none;
  box-sizing: border-box;
  padding: 0 8px 0;
}

@media only screen and (max-width: 1024px) {
  .c-header__search form dl input {
    font-size: calc((100vw / 1024) * 14);
  }
}

.c-header__search form dl button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  color: #757575;
  position: absolute;
  top: 22%;
  right: 10px;
  font-size: 2rem;
}

.c-header .c-btnRegister {
  margin-left: 20px;
}

@media only screen and (max-width: 1024px) {
  .c-header .c-btnRegister {
    margin-left: 10px;
  }
}

.c-header__menu {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  display: none;
}

@media only screen and (max-width: 767px) {
  .c-header__menu {
    display: block;
  }
}

.c-header__menu.is-open {
  opacity: 0.95;
  visibility: visible;
  z-index: 100;
}

.c-header__menu.is-open .overlay {
  display: block;
}

.c-header__menu .overlay {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
}

.c-header__menu ul {
  width: 70.8%;
  height: 100%;
  background: #283a4b;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  text-align: center;
  z-index: 2;
  padding: 139px 50px 40px 43px;
  overflow-y: scroll;
}

.c-header__menu ul li.mb1 {
  margin-bottom: 2px;
}

.c-header__menu ul li:last-of-type {
  margin-bottom: 25px;
}

.c-header__menu ul li a {
  display: block;
  box-sizing: border-box;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.6;
  color: #fff;
}

.c-header__menu .c-btnSpContact {
  width: 100%;
  max-width: 200px;
  height: 45px;
  margin: 0 auto;
  background-color: #9ae6de;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.c-header__menu .c-btnSpContact span {
  display: inline-block;
  position: relative;
  padding-left: 43px;
}

.c-header__menu .c-btnSpContact span svg {
  max-width: 30px;
  position: absolute;
  top: 0;
  left: 2px;
}

.c-header__menu .c-btnSpContact.color2 {
  background-color: #f8a625;
  margin-top: 10px;
}

.c-header__menu .c-btnSpContact.color2 span {
  padding-left: 34px;
}

.c-header__menu .c-btnSpContact.color2 svg {
  max-width: 25px;
  top: -5px;
  left: -2px;
}

.c-header.is-sticky {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  transform: translateY(-100%);
}

.c-header.nav-down {
  transform: translateY(0%);
}

.c-header.nav-up {
  transform: translateY(-100%);
}

/*
------------------------------------------------------------*/
.c-topbar {
  background-color: #1E7391;
}

.c-topbar__inner {
  display: flex;
  padding: 5px 0;
}

.c-topbar .c-language {
  margin-left: auto;
}

.c-contact1 {
  display: flex;
  align-items: center;
}

.c-contact1 a {
  display: block;
  font-size: 1.6rem;
  color: #fff;
  margin-right: 20px;
}

.c-contact1 p {
  font-size: 1.2rem;
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .c-navi1 {
    display: none;
  }
}

.c-navi1 ul {
  display: flex;
}

.c-navi1 ul li {
  margin-left: 20px;
  border-bottom: 2px solid transparent;
}

@media only screen and (max-width: 1024px) {
  .c-navi1 ul li {
    margin-left: 10px;
  }
}

.c-navi1 ul li:first-child {
  margin-left: 0;
}

.c-navi1 ul li a {
  display: block;
  box-sizing: border-box;
  font-size: 2rem;
}

@media only screen and (max-width: 1232px) {
  .c-navi1 ul li a {
    font-size: calc((100vw / 1230) * 20);
  }
}

@media screen and (min-width: 767px) {
  .c-navi1 ul li:hover {
    color: #ffba00;
    border-bottom-color: #ffba00;
  }
}

.c-navi1 ul li.is-active {
  color: #ffba00;
  border-bottom-color: #ffba00;
}

.c-btnRegister a {
  background-color: #1E7593;
  border: 1px solid #1E7593;
  font-size: 1.3rem;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  padding: 5px 8px;
  height: 35px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

@media only screen and (max-width: 1024px) {
  .c-btnRegister a {
    font-size: calc((100vw / 1024) * 13);
  }
}

/*
------------------------------------------------------------*/
.c-iconmenu {
  width: 30px;
  height: 13px;
  position: absolute;
  top: 34px;
  right: 19px;
  z-index: 200;
  cursor: pointer;
}

.c-iconmenu span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fa802f;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
}

.c-iconmenu span:nth-child(2) {
  top: 100%;
}

.c-iconmenu.is-active span {
  background-color: #fff;
}

.c-iconmenu.is-active span:nth-child(1) {
  transform: translate3d(0, 6px, 0) rotate(-22deg);
}

.c-iconmenu.is-active span:nth-child(2) {
  transform: translate3d(0, -7px, 0) rotate(22deg);
}

.c-language {
  position: relative;
  z-index: 100;
  cursor: pointer;
}

.c-language__img {
  width: 30px;
}

.c-language nav {
  position: absolute;
  top: -1px;
  right: 44px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.c-language nav:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 5px;
  right: -13px;
}

.c-language nav ul {
  width: 130px;
}

.c-language nav ul li {
  padding: 10px;
  background-color: #fff;
}

@media screen and (min-width: 767px) {
  .c-language nav ul li:hover {
    background-color: #E3F2FD;
  }
}

.c-language nav ul a {
  display: block;
  box-sizing: border-box;
  font-size: 1.4rem;
  color: #555;
}

.c-language nav ul a .icon {
  display: inline-block;
  width: 30px;
}

@media screen and (min-width: 767px) {
  .c-language:hover nav {
    opacity: 1;
    visibility: visible;
  }
}

/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
  padding: 60px 20px 0;
  background: #283a4b;
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .c-footer {
    padding: 40px 0 0;
  }
}

.c-footer__map {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .c-footer__map {
    display: block;
  }
}

.c-footer__logo {
  width: 200px;
}

.c-footer__col1 {
  width: 32%;
  padding-right: 40px;
}

@media only screen and (max-width: 767px) {
  .c-footer__col1 {
    width: 100%;
    padding-right: 0;
    margin-top: 20px;
  }
}

.c-footer__col1 .txt {
  font-size: 1.4rem;
  margin-top: 20px;
}

@media only screen and (max-width: 767px) {
  .c-footer__col1 .txt {
    margin-top: 15px;
  }
}

.c-footer__col1 .sns {
  display: flex;
  margin-top: 20px;
}

.c-footer__col1 .sns li {
  font-size: 1.4rem;
  width: 40px;
  height: 40px;
  display: flex;
  background-color: #1E7593;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.c-footer__col1 .sns li a {
  display: block;
  box-sizing: border-box;
}

@media screen and (min-width: 767px) {
  .c-footer__col1 .sns li:hover {
    background-color: #FCB814;
  }
}

.c-footer__col1 .c-ftmenu1 {
  margin-top: 40px;
}

@media only screen and (max-width: 767px) {
  .c-footer__col1 .c-ftmenu1 {
    margin-top: 15px;
  }
}

.c-footer__col1 .listoffice {
  margin-top: 40px;
}

@media only screen and (max-width: 767px) {
  .c-footer__col1 .listoffice {
    margin-top: 15px;
  }
}

.c-footer__col1 form {
  margin-top: 20px;
}

.c-footer__col1 form label {
  font-size: 1.5rem;
  display: block;
  margin-bottom: 5px;
}

.c-footer__col1 form .quick {
  display: flex;
}

.c-footer__col1 form input {
  height: 35px;
  padding: 5px 10px;
  box-sizing: border-box;
  font-size: 1.4rem;
}

.c-footer__col1 form button {
  width: 50px;
  height: 35px;
  display: block;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #1E7593;
  border: 2px solid #1E7593;
  margin-left: 5px;
  color: #fff;
  font-size: 1.4rem;
  line-height: 1;
  font-weight: 700;
  cursor: pointer;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

@media screen and (min-width: 767px) {
  .c-footer__col1 form button:hover {
    background-color: #fff;
    color: #1E7593;
  }
}

.c-footer .copy {
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
  border-top: 1px solid rgba(101, 119, 136, 0.5);
}

.c-ftmenu1 li {
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.c-ftmenu1 li a {
  display: inline-block;
  position: relative;
  padding-left: 20px;
}

.c-ftmenu1 li a::before {
  content: '\f30b';
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 0;
  color: currentColor;
}

@media screen and (min-width: 767px) {
  .c-ftmenu1 li a:hover {
    transform: translateX(10px);
    color: #ffba00;
  }
}

.listoffice li {
  font-size: 1.4rem;
}

.listoffice li i {
  margin-right: 10px;
}

.c-pagetop1 {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.c-pagetop1 i {
  font-size: 3rem;
  color: #1E7593;
}

/*------------------------------------------------------------
sidebar
------------------------------------------------------------*/
/* Breadcrumb
------------------------------------------------------------*/
/* layout
------------------------------------------------------------*/
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  color: #333;
}

body.is-hidden {
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  body {
    min-width: 320px;
    font-size: 1.4rem;
  }
}

.l-container {
  max-width: 1200px;
  margin: 0 auto;
}

@media only screen and (max-width: 1232px) {
  .l-container {
    padding: 0 16px;
  }
}

@media only screen and (max-width: 767px) {
  .l-container {
    width: 100%;
  }
}

.l-content {
  max-width: 700px;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .l-content {
    padding: 0 5%;
  }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Component .c-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
btn
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-btn1 {
  display: inline-block;
  padding: 10px 50px;
  font-size: 1.6rem;
  border: 2px solid #fff;
  border-radius: 20px;
  line-height: 1;
}

.c-btn2 {
  width: 100%;
  max-width: 180px;
  margin: 0 auto;
}

.c-btn2 a {
  display: block;
  font-size: 1.4rem;
  box-sizing: border-box;
  background-color: #292929;
  border: 2px solid #292929;
  color: #fff;
  text-align: center;
  padding: 8px 0;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
}

.c-btn2 a::before, .c-btn2 a::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #333;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.c-btn2 a::before {
  top: 0;
}

.c-btn2 a::after {
  bottom: 0;
}

@media screen and (min-width: 767px) {
  .c-btn2 a:hover {
    background-color: #fff;
    border-color: #1e7593;
    color: #1e7593;
  }
  .c-btn2 a:hover::before, .c-btn2 a:hover::after {
    height: 0;
    background-color: #1e7593;
  }
}

/*------------------------------------------------------------
title
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-ttl1 {
  font-size: 1.4rem;
  color: rgba(30, 117, 147, 0.5);
  font-weight: 700;
}

.c-ttl1 span {
  display: block;
  font-size: 3rem;
  color: #1e7593;
  line-height: 1.1;
}

.c-ttl1--color2 {
  text-align: center;
  color: #fff;
}

.c-ttl1--color2 span {
  color: inherit;
}

.c-ttl1--center {
  text-align: center;
}

/*
------------------------------------------------------------*/
.c-ttl2 {
  border-bottom: 1px solid #ffba00;
}

.c-ttl2 span {
  font-size: 2.2rem;
  font-weight: 700;
  color: #fff;
  background-color: #ffba00;
  display: inline-block;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}

.c-ttl2 span:after {
  width: 20px;
  height: 100%;
  content: '';
  background: #ffba00;
  position: absolute;
  top: 0;
  right: -10px;
  transform: skewX(25deg);
  z-index: -1;
}

.c-ttl3 {
  color: #1e7593;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
  .c-ttl3 {
    font-size: 2.3rem;
  }
}

.c-ttl3 span {
  display: inline-block;
  border-bottom: 1px solid #1e7593;
  position: relative;
}

.c-ttl3 span::before {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: -7px;
  right: 50%;
  transform: translateX(-50%) rotate(45deg);
  background-color: #1e7593;
}

/*------------------------------------------------------------
icon
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
form
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
text
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-text1 {
  font-size: 1.6rem;
  text-align: justify;
}

@media only screen and (max-width: 767px) {
  .c-text1 {
    font-size: 1.4rem;
  }
}

.c-text1--center {
  text-align: center;
}

/*------------------------------------------------------------
navi
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
img
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-imgtext1 {
  display: flex;
}

@media only screen and (max-width: 767px) {
  .c-imgtext1 {
    display: block;
  }
}

.c-imgtext1__text {
  width: 63%;
  padding: 0 8% 0;
}

@media only screen and (max-width: 1232px) {
  .c-imgtext1__text {
    width: 60vw;
  }
}

@media only screen and (max-width: 767px) {
  .c-imgtext1__text {
    width: 100%;
    padding: 0;
    margin-top: 30px;
  }
}

.c-imgtext1__img {
  width: 37%;
  position: relative;
}

@media only screen and (max-width: 1232px) {
  .c-imgtext1__img {
    width: 39vw;
    height: 39vw;
  }
}

@media only screen and (max-width: 767px) {
  .c-imgtext1__img {
    width: calc(100vw - 32px);
    height: calc(100vw - 32px);
    max-width: 375px;
    max-height: 375px;
    margin: 0 auto;
  }
}

.c-imgtext1__img .imgBig {
  border-radius: 50%;
  overflow: hidden;
  width: 440px;
  height: 440px;
  position: relative;
}

@media only screen and (max-width: 1232px) {
  .c-imgtext1__img .imgBig {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .c-imgtext1__img .imgBig {
    width: 100%;
    height: 100%;
  }
}

.c-imgtext1__img .imgBig img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  font-family: "object-fit: cover";
}

.c-imgtext1__img .imgBig::before {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  box-sizing: border-box;
}

@media only screen and (max-width: 767px) {
  .c-imgtext1__img {
    width: 100%;
  }
  .c-imgtext1__img img {
    width: 100%;
  }
}

.c-imgtext1 .c-list1 {
  margin-top: 20px;
}

/*
------------------------------------------------------------*/
.c-imgtext2__info {
  max-width: 800px;
  margin: -10% auto 0;
  background-color: #fff;
  position: relative;
  padding: 40px;
}

@media only screen and (max-width: 767px) {
  .c-imgtext2__info {
    margin: 0;
    padding: 15px;
  }
}

.c-imgtext2__info .ttl {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2px;
}

@media only screen and (max-width: 767px) {
  .c-imgtext2__info .ttl {
    font-size: 1.8rem;
  }
}

/*------------------------------------------------------------
list
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-list1 li {
  position: relative;
  padding: 0 0px 0 14px;
  font-size: 1.8rem;
}

@media only screen and (max-width: 767px) {
  .c-list1 li {
    font-size: 1.5rem;
    padding-left: 0;
  }
}

.c-list1 li::before {
  content: '\f4df';
  font-family: "Font Awesome 5 Free";
  color: #1e7593;
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 8px;
}

@media only screen and (max-width: 767px) {
  .c-list1 li::before {
    font-size: 1rem;
  }
}

/*
------------------------------------------------------------*/
.c-list2 {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {
  .c-list2 {
    display: block;
  }
}

.c-list2__item {
  width: calc((100% - 80px)/3);
  box-shadow: 0px 10px 30px -15px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  margin-right: 40px;
  margin-bottom: 60px;
  padding: 30px 20px;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .c-list2__item {
    width: 100%;
    max-width: 480px;
    margin: 0 auto 50px;
  }
}

.c-list2__item:nth-child(3n) {
  margin-right: 0;
}

@media only screen and (max-width: 767px) {
  .c-list2__item:nth-child(3n) {
    margin-right: auto;
  }
}

.c-list2__item:before {
  content: '\f4df';
  font-family: "Font Awesome 5 Free";
  color: #fff;
  background-color: #1e7593;
  font-size: 2.8rem;
  font-weight: 600;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: -33px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 767px) {
  .c-list2__item:before {
    font-size: 2.5rem;
    width: 50px;
    height: 50px;
    top: -30px;
  }
}

.c-list2__item ul {
  margin-top: 10px;
}

.c-list2__item ul li {
  font-size: 1.4rem;
  position: relative;
  padding-left: 12px;
}

@media only screen and (max-width: 767px) {
  .c-list2__item ul li {
    font-size: 1.3rem;
  }
}

.c-list2__item ul li:before {
  content: '';
  width: 8px;
  height: 8px;
  background-color: #1e7593;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: 0;
}

@media only screen and (max-width: 767px) {
  .c-list2__item ul li:before {
    top: 5px;
  }
}

.c-list2__ttl {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  color: #1e7593;
}

@media only screen and (max-width: 767px) {
  .c-list2__ttl {
    font-size: 1.5rem;
  }
}

/*
------------------------------------------------------------*/
.c-list3 {
  display: flex;
  align-items: flex-start;
}

@media only screen and (max-width: 767px) {
  .c-list3 {
    display: block;
  }
}

.c-list3__item {
  width: calc(100% / 3);
  background-color: #1e7593;
  background-repeat: no-repeat;
  background-position: 20px 0;
  background-size: cover;
  padding: 80px 16px;
}

@media only screen and (max-width: 767px) {
  .c-list3__item {
    width: 100%;
    padding: 40px 16px;
  }
}

.c-list3__item:nth-child(1) {
  background-image: url(../img/top/steps-image1.png);
}

.c-list3__item:nth-child(2) {
  background-color: #ffba00;
  margin-top: 70px;
  background-image: url(../img/top/steps-image2.png);
}

@media only screen and (max-width: 767px) {
  .c-list3__item:nth-child(2) {
    margin-top: 0;
  }
}

.c-list3__item:nth-child(3) {
  margin-top: 140px;
  background-image: url(../img/top/steps-image3.png);
}

@media only screen and (max-width: 767px) {
  .c-list3__item:nth-child(3) {
    margin-top: 0;
  }
}

.c-list3__ttl {
  font-size: 3.6rem;
  color: #fff;
  font-weight: 700;
}

@media only screen and (max-width: 767px) {
  .c-list3__ttl {
    font-size: 3rem;
  }
}

/*
------------------------------------------------------------*/
.c-listnews {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 767px) {
  .c-listnews {
    display: block;
  }
}

.c-listnews figure {
  width: 30%;
  max-width: 370px;
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 1, 0.1);
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 10px;
}

@media only screen and (max-width: 767px) {
  .c-listnews figure {
    width: 100%;
    margin: 0 auto 20px;
  }
}

.c-listnews figure .thumb img {
  width: 100%;
}

.c-listnews figure .info {
  padding: 24px;
}

.c-listnews figure .info time {
  color: #afafaf;
  font-size: 1.4rem;
}

.c-listnews figure .info .ttl {
  font-size: 2.2rem;
  color: #1e7593;
  font-weight: 700;
  line-height: 1.2;
}

/*------------------------------------------------------------
table
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
line
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
slider
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-mainvisual__slider {
  overflow: hidden;
}

.c-slider1__item {
  display: block !important;
  position: relative;
}

.c-slider2__item {
  display: block !important;
  padding: 0 10px;
}

.c-slider2__item .c-card1 {
  width: 100%;
}

/*------------------------------------------------------------
other
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-card1 {
  width: 550px;
}

@media only screen and (max-width: 767px) {
  .c-card1 {
    width: 100%;
  }
}

.c-card1 blockquote {
  background-color: #fff;
  border-radius: 5px;
  padding: 40px 30px;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .c-card1 blockquote {
    padding: 20px 16px 40px;
  }
}

.c-card1 blockquote::before {
  content: "\f10d";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 4rem;
  position: absolute;
  top: 20px;
  left: 15px;
  color: #ebe6e0;
}

@media only screen and (max-width: 767px) {
  .c-card1 blockquote::before {
    font-size: 3rem;
    top: 8px;
  }
}

.c-card1 blockquote p {
  position: relative;
  color: #6e6e6e;
}

.c-card1__name {
  background-color: #ffba00;
  position: relative;
  display: inline-block;
  padding: 10px 20px 10px 10px;
  margin: -30px 0 0;
}

.c-card1__name::after {
  width: 50px;
  height: 100%;
  content: "";
  background: #ffba00;
  position: absolute;
  top: 0;
  right: -30px;
  transform: skewX(25deg);
}

.c-card1__name span {
  display: block;
  position: relative;
  z-index: 1;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
}

.c-card1__name small {
  display: block;
  position: relative;
  z-index: 1;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.3rem;
}

/*
------------------------------------------------------------*/
.c-banner1 {
  background: url(../img/top/image1.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
}

.c-banner1__content {
  width: 50%;
  padding: 80px 40px;
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 767px) {
  .c-banner1__content {
    width: 100%;
    padding: 40px 20px;
  }
}

.c-banner1__content::before {
  content: "";
  width: 125%;
  height: 100%;
  background-color: rgba(35, 35, 47, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  transform: skewX(-25deg) translateX(-12%);
  z-index: -1;
}

@media only screen and (max-width: 1024px) {
  .c-banner1__content::before {
    width: 145%;
    left: -15%;
  }
}

.c-banner1__content .c-text1 {
  color: #fff;
  margin-top: 30px;
}

@media only screen and (max-width: 767px) {
  .c-banner1__content .c-text1 {
    margin-top: 15px;
  }
}

/*
------------------------------------------------------------*/
.c-mv1 {
  text-align: center;
  height: 300px;
  display: flex;
  align-items: center;
  background: url(../img/about/hero.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .c-mv1 {
    height: 150px;
  }
}

.c-mv1:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(30, 115, 145, 0.9);
}

.c-mv1 h2 {
  font-family: "Dancing Script", sans-serif;
  font-weight: 700;
  font-size: 10rem;
  color: #fff;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .c-mv1 h2 {
    font-size: 6rem;
  }
}

/*
------------------------------------------------------------*/
.c-map {
  position: relative;
}

@media only screen and (max-width: 1232px) {
  .c-map {
    display: flex;
    flex-flow: row-reverse;
  }
}

@media only screen and (max-width: 767px) {
  .c-map {
    display: block;
    padding: 0 15px 40px;
  }
}

.c-map__inner {
  width: 100%;
  height: 568px;
}

@media only screen and (max-width: 767px) {
  .c-map__inner {
    height: 100vw;
  }
}

.c-map__panel {
  position: absolute;
  width: 320px;
  height: 100%;
  top: 0;
  right: calc((100% - 1200px) / 2);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 50px 38px 0;
}

@media only screen and (max-width: 1232px) {
  .c-map__panel {
    position: initial;
  }
}

@media only screen and (max-width: 767px) {
  .c-map__panel {
    position: initial;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    padding: 20px 0 0;
  }
}

.c-map__panel .logo {
  text-align: center;
}

.c-map__panel .thumb {
  width: 100%;
  margin: 20px 0 15px;
}

@media only screen and (max-width: 767px) {
  .c-map__panel .thumb {
    margin: 10px 0;
  }
}

.c-map__panel .thumb img {
  width: 100%;
}

.c-map__tel {
  width: 100%;
  max-width: 186px;
}

.c-map__tel a {
  display: block;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1;
  color: #ffba00;
  position: relative;
  padding-left: 20px;
  pointer-events: none;
}

@media only screen and (max-width: 767px) {
  .c-map__tel a {
    display: inline-block;
    padding-left: 20px;
    pointer-events: visible;
    font-size: 2.3rem;
  }
}

.c-map__tel a:before {
  content: "\f87b";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  position: absolute;
  left: 0;
  top: 4px;
  font-size: 2rem;
}

@media only screen and (max-width: 767px) {
  .c-map__tel a:before {
    left: 0;
    top: 3px;
    font-size: 1.7rem;
  }
}

.c-map__text {
  font-size: 1.5rem;
  line-height: 1.4;
  margin-top: 15px;
}

@media only screen and (max-width: 767px) {
  .c-map__text {
    margin-top: 5px;
    font-size: 1.3rem;
  }
}

.c-map__text span {
  margin-top: 5px;
  display: block;
}

.c-map__text i {
  margin-right: 5px;
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Project .p-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.p-top1 {
  padding: 60px 0;
}

@media only screen and (max-width: 767px) {
  .p-top1 {
    padding: 40px 0;
  }
}

.p-top2 {
  padding: 60px 0 30px;
  background: linear-gradient(135deg, rgba(55, 177, 218, 0.5) 0%, rgba(68, 117, 112, 0.5) 100%);
}

@media only screen and (max-width: 767px) {
  .p-top2 {
    padding: 40px 0 10px;
  }
}

.p-top2 .c-list2 {
  margin-top: 70px;
}

@media only screen and (max-width: 767px) {
  .p-top2 .c-list2 {
    margin-top: 50px;
  }
}

.p-top3 {
  padding: 40px 0;
}

.p-top3 .c-list3 {
  margin-top: 30px;
}

.p-top4 {
  background: linear-gradient(90deg, #1e7593 0%, #1f2e39 100%);
  padding: 60px 0;
}

.p-top4 .c-slider2 {
  margin-top: 30px;
}

.p-top5 {
  padding: 40px 0;
  background-color: #FEFEFE;
}

.p-top5 .c-listnews {
  margin-top: 30px;
}

.p-top5 .c-btn2 {
  margin-top: 30px;
}

.p-top6 {
  padding: 40px 0;
}

.p-top6 .c-banner1 {
  margin-top: 60px;
}

.client1 {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .client1 {
    flex-wrap: wrap;
  }
}

.client1 li {
  width: 14%;
}

@media only screen and (max-width: 767px) {
  .client1 li {
    width: 30%;
    margin-bottom: 10px;
  }
}

/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.p-about__content {
  padding: 60px 0;
}

@media only screen and (max-width: 767px) {
  .p-about__content {
    padding: 40px 0;
  }
}

.p-about .c-imgtext2 {
  margin-top: 60px;
}

@media only screen and (max-width: 767px) {
  .p-about .c-imgtext2 {
    margin-top: 30px;
  }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Utility .u-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/

/*# sourceMappingURL=style.css.map */
